* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #f0f2f5;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    color: #555;
}

/* -------------------------------------------------- */

.main-container {
    max-width: 1200px;
    width: 95%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    display: none;
}

/* -------------------------------------------------- */

.btn-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.btn {
    padding: 1.5rem 3rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-primary {
    color: #fff;
    background-color:  #4a90e2;
    border: 2px solid  #4a90e2;
    transition: 0.5s;
}

.btn-secondary {
    color:  #4a90e2;
    background-color: #fff;
    border: 2px solid  #4a90e2;
    transition: 0.5s;
}

.btn-primary:hover {
    background-color:  #357ab8;
    border: 2px solid  #357ab8;
    transform: scale(1.05, 1.05);
    box-shadow: 0px 2px 6px #4a90e2;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #4a90e2;
    transform: scale(1.05, 1.05);
    box-shadow: 0px 2px 6px #4a90e2;
}

/* -------------------------------------------------- */

.main-note-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.note-container {
    width: 30rem;
    height: 20rem;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: 1s;
}

.note-container:hover {
    transform: scale(1.2) rotate(-5deg);
    z-index: 99;
}

.note-title {
    padding: 1rem;
    text-align: center;
    color: #fff;
    background-color: #4a90e2;
}

.note-text {
    padding: 1rem;
}

.date {
    align-self: end;
    padding: 1rem;
}

/* -------------------------------------------------- */

.form-container {
    width: 100%;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    /* display: none; */
}

.create-new-note {
    width: 40rem;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 10px;
}

label {
    display: block;
    font-size: 2rem;
}

textarea {
    resize: none;
}

.box {
    width: 100%;
    border: 2px solid #4a90e2;
    border-radius: 10px;
    outline: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: #555;
}

/* -------------------------------------------------- */

/* MD - TABLETS: 768px - 1024px */

@media (max-width: 56rem){

    html {
        font-size: 50%;
    }

    .btn-container {
        width: 70%;
    }
}

/* SM - PHONE LANDSCAPE: 576px - 768px */

@media (max-width: 42rem){

    html {
        font-size: 43.75%;
    }

    .btn-container {
        width: 70%;
    }

    .note-container:hover {
        transform: scale(1.15) rotate(-5deg);
    }
}

/* XS - PHONE PORTRAINT: < 576px */

@media (max-width: 32.6rem){

    html {
        font-size: 37.5%;
    }

    .btn-container {
        width: 70%;
    }

    .note-container:hover {
        transform: scale(1.1) rotate(-5deg);
    }
}